.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eaf6fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-container {
  box-shadow: 0 20px 40px 0 rgba(102, 102, 102, 0.16);
  border-radius: 6px;
  z-index: 650;
  border: none;
  width: 800px;
}

.section-container.blue {
  background-color: #66b1ff;
}

.nav-cstm:hover {
  cursor: pointer;
}

.nav-cstm.hover-cstm:hover {
  color: #66b1ff;
}
